In [29]:
import numpy as np
import pandas as pd

In [31]:
titanic_set = pd.read_csv('train.csv')
titanic_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1. Kazada ölenlerin yaş ortalamasını bulunuz.

In [36]:
deaths = titanic_set[titanic_set['Survived'] == 0]
averaga_age_deaths = deaths['Age'].mean()
averaga_age_deaths

30.62617924528302

2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz.

In [47]:
avg_ticket_price = deaths["Fare"].mean()
avg_ticket_price

22.117886885245902

In [49]:
med_ticket_price = deaths["Fare"].median()
med_ticket_price

10.5

3. Kazada ölen erkeklerin yaş ortalamasını bulunuz.

In [115]:
male = titanic_set[titanic_set["Sex"] == "male"]
death_male = male[male["Survived"] == 0]
avg_age_death_male = death_male["Age"].mean()
avg_age_death_male

31.618055555555557

4. Kazada ölen kadınların yaş ortalamasını bulunuz.

In [117]:
female = titanic_set[titanic_set["Sex"] == "female"]
death_female = female[female["Survived"] == 0]
avg_age_death_female = death_female["Age"].mean()
avg_age_death_female

25.046875

5. Kazadan kurtulanların yaş ortalamasını bulunuz.

In [119]:
survived_people = titanic_set[titanic_set["Survived"] == 1]
avg_age_survived_people = survived_people["Age"].mean()
avg_age_survived_people

28.343689655172415

6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz.

In [121]:
avg_ticket_price_survived_people = survived_people["Fare"].mean()
avg_ticket_price_survived_people

48.39540760233918

7. Kazadan kurtulan toplam kişi sayısını bulunuz.

In [123]:
len(survived_people)

342

8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz.

In [125]:
younger_ten = titanic_set[titanic_set["Age"] < 10]
younger_ten["Fare"].median()

27.0

9.  1 . sınıf, 2. sınıf ve 3. sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [127]:
first_class = titanic_set[titanic_set["Pclass"] == 1]
second_class = titanic_set[titanic_set["Pclass"] == 2]
third_class = titanic_set[titanic_set["Pclass"] == 3]
avg_first_ticket_price = first_class["Fare"].mean()
avg_second_ticket_price = second_class["Fare"].mean()
avg_third_ticket_price = third_class["Fare"].mean()
med_first_ticket_price = first_class["Fare"].median()
med_second_ticket_price = second_class["Fare"].median()
med_third_ticket_price = third_class["Fare"].median()

In [129]:
avg_first_ticket_price > avg_second_ticket_price

True

In [131]:
avg_first_ticket_price > avg_third_ticket_price

True

In [133]:
avg_second_ticket_price > avg_third_ticket_price

True

10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.)

In [135]:
male = titanic_set[titanic_set["Sex"] == "male"]
male_ratio = len(death_male) / len(male)
male_ratio

0.8110918544194108

In [137]:
female = titanic_set[titanic_set["Sex"] == "female"]
female_ratio = (len(death_female) / len(female))
female_ratio

0.25796178343949044